{{list.email}}

<!--
<html>
<head>

<style>
	table{
		border:2px solid black:
		border-collapse:collapse;
	}
	tr,td,th{
		border :1px solid black;
	}
</style>
</head>
<body>
<center><h1>Admin Database</h1></center>

<table align="center">
<col width="10%">
<col width="60%">
<col width="10%">
<tr>
<th>mail</th>
<th>token</th>
<th>session</th>
</tr>

{% for id in list %}
	<tr>
	<td>{{ id.email }}</td>
	<td>{{ id.token }}</td>
	<td>{{ id.session}}</td>
	</tr>
{% endfor %}

</table>
</body>
</html>
-->